{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=Alex+Brush&display=swap"
    rel="stylesheet">

  <!-- Global CSS -->
  <link rel="stylesheet" href="{% static 'website/css/variables.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/layout.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/components.css' %}">
  <!-- Page-specific CSS -->
  {% block extra_css %}{% endblock %}
</head>

<body>

  {% include "website/components/header.html" %}

  <main class="content">
    {% block content %}
    {% endblock %}
  </main>

  {% include "website/components/footer.html" %}

  <!-- Scripts -->
  <script src="{% static 'website/js/main.js' %}"></script>
</body>

</html>